name: CI

on:
  push:
  pull_request:

jobs:
  test-and-run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run tests
        run: pytest

     # When not using VIIRS
     # # Runs pipeline on a tiny sample (or synthetic raster for testing)
     # # and keep outputs as build artifacts
     # - name: Upload artifacts
     #   if: always()
     #   uses: actions/upload-artifact@v4
     #   with:
     #     name: processed-data
     #     path: data/processed/

